@model IEnumerable<InvoiceDemo.Models.Viewmodels.InvoiceItemVm>

<h3>Položky</h3>
@{
    if (Model.Any())
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "InvoiceItems", new { id= item.Id}, null) 
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>Faktura nemá žádné položky.</p>
    }
}
